body{
    background-image: linear-gradient(#1C0125, #1C0125aa );
    height: 100vh;
}

*{
    box-sizing: border-box;
    /*box model fix*/
    margin: 0;
    border: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color:#fff;
    text-decoration: none;
}
.logo{
    margin: 0;
    font-size: 1.45em;
}
.main-nav{
    margin-top: 5px;
}
.logo a,
.main-nav a{
    padding: 10px,15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}